{% extends "base.html" %} 
{% block content %}
<main class="verification">
	<section class="card custom-card">
        <div class="card-header">
            <i class="fa fa-check fa-3x text-success"></i>
            <br>
            <h5><strong>Payment Success!</strong></h5>
        </div>
		<div class="card-body">
			<h5 class="card-title">Thank you for shopping with us, {{ customer }}!</h5>
            <p class="card-text">Your delivery will be dispatched shortly. <br>Please do feel free to explore more of our Ethical Products you may like.</p>
			<a href="{% url 'store' %}" class="btn btn-primary">Back To Store</a>
		</div>
	</section>
</main>
{% endblock %}