{% extends "base.html" %} 
{% block content %}
<main>
	<section class="card custom-card mt-5 border-0">
        <div class="card-header bg-danger text-white">
			<i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
			&nbsp;&nbsp;
            <i class="fa fa-exclamation-triangle fa-2x"></i>
            <br>
            <h5><strong>Payment Failed!</strong></h5>
        </div>
		<div class="card-body">
			<h6 class="card-title text-light">Something went wrong</h6>
			<p class="card-text">Please edit your shipping address and try again.</p>
			<a href="{% url 'process-payment' %}" class="btn btn-primary">Back To Checkout</a>
		</div>
	</section>
</main>
{% endblock %}