{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<main class="form-main py-5">
	<section class="form-wrapper rounded-2 px-5 border-0 bg-body">
		<h4 class="py-4 text-center text-light">Edit or Enter Your Shipping Address</h4>
		<form method="POST" autocomplete="off" autocapitalize="off" novalidate>
			{% csrf_token %} 
			{{ form|as_crispy_errors }} 
			{{ form.full_name|as_crispy_field }} 
			{% if not request.user.is_authenticated %} 
			{{ form.email|as_crispy_field }} 
			{% else %}
			<input
				type="text"
				class="d-none"
				id="id_email"
				name="email"
				value="{{ user.email }}"
			/>
			{% endif %} 
			{{ form.address1|as_crispy_field }} 
			{{ form.address2|as_crispy_field }} 
			{{ form.city|as_crispy_field }} 
			{{ form.state|as_crispy_field }} 
			{{ form.zipcode|as_crispy_field }}
			<div
				id="error"
				class="alert alert-danger alert-dismissible d-flex align-items-center d-none"
				role="alert"
			>
				<svg
					class="bi flex-shrink-0 me-2"
					width="24"
					height="24"
					role="img"
					aria-label="Danger:"
				>
					<use xlink:href="#exclamation-triangle-fill" />
				</svg>
				<div>Please make sure all the required fields are filled</div>
			</div>
			<!-- PayPal button container -->
			<div class="paypal-buttons">
				<div class="py-3" id="paypal-button-container"></div>
			</div>
		</form>
	</section>
</main>
<!-- PayPal client ID integration -->
{% if SANDBOX_CLIENT_ID %}
<script
	src="https://www.paypal.com/sdk/js?client-id={{ SANDBOX_CLIENT_ID }}&currency=GBP&intent=capture&enable-funding=venmo"
	data-sdk-integration-source="integrationbuilder"
></script>
{% endif %}
<!-- PayPal JS SDK -->
{% csrf_token %}
<script>
	const url = '{% url "process-payment" %}'
	const totalPrice = '{{cart.get_total_price}}'
	const formData = new FormData()
	const inputFields = document.querySelectorAll('.required')
	const validateInput = lst => {
		return Array.from(lst).every(el => el.value !== '')
	}
	const paypalButtonsComponent = paypal.Buttons({
		style: {
			layout: 'vertical',
			shape: 'pill',
			color: 'blue',
		},

		createOrder: (data, actions) => {
			return actions.order.create({
				purchase_units: [
					{
						amount: {
							value: totalPrice,
							currency_code: 'USD',
						},
					},
				],
			})
		},

		onInit: function (data, actions) {
			// Disable the buttons
			actions.disable()
			// Make sure all input fields are filled
			inputFields.forEach(element =>
				element.addEventListener('keyup', event => {
					if (validateInput(inputFields)) {
						actions.enable()
					} else {
						actions.disable()
					}
				})
			)
			// Check if the user has prefilled shipping address
			if (validateInput(inputFields)) {
				actions.enable()
			} else {
				actions.disable()
			}
		},
		// Asynchronous validation
		onClick: function (data, actions) {
			// Return a promise from onClick to do async validation
			$.ajax({
				type: 'POST',
				url: url,
				data: {
					full_name: $('#id_full_name').val(),
					email: $('#id_email').val(),
					address1: $('#id_address1').val(),
					address2: $('#id_address2').val(),
					city: $('#id_city').val(),
					state: $('#id_state').val(),
					zipcode: $('#id_zipcode').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',
				},
				success: data => {
					console.log(data)
				},
				error: error => {
					console.error(error)
				},
			})
		},

		onApprove: function (data, actions) {
			const captureOrderHandler = details => {
				console.log(
					'Transaction completed. Total amount paid $ ' +
						details.purchase_units[0].amount.value
				)
			}
			// This function captures the funds from the transaction.
			return actions.order.capture()
				.then(captureOrderHandler)
				.then(window.location.replace("{% url 'payment-success' %}"))
		},

		onError: err => {
			console.error(
				'An error prevented the buyer from checking out with PayPal'
			)
			document.querySelector('#error').classList.remove('d-none')
			window.location.replace("{% url 'payment-failed' %}")
		},
	})

	paypalButtonsComponent.render('#paypal-button-container').catch(err => {
		console.error('PayPal Buttons failed to render')
	})
</script>
{% endblock %}
