{% extends "base.html" %} {% block content %}
<main class="pt-5">
	<div class="container">
		{% if cart.get_total_price %}
			<h1 class="h5 text-primary mb-2">{{customer_name}}, Review your items and make a payment</h1>
			{% for item in cart %} {% with product=item.product %}
				<div id="{{product.id}}" class="row product-item bg-success p-0 m-auto">
					<div class="col-md-3 col-lg-2 order-md-first p-0 m-0 align-self-center">
						<img
							class="img-fluid mx-auto"
							alt="{{ product.title }}"
							src="{{ product.image.url}} "
						/>
					</div>
					<div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10 bg-body p-2 text-light">
						<a
							href="{{ product.get_absolute_url}}"
							class="text-info text-decoration-none"
						>
							<p class="h6 pt-2">{{ product.title }}</p>
						</a>
						<div class="border">
							<div class="col border-bottom">
								<div class="row p-3">
									<div class="col-6">Unit price : --></div>
									<div class="col-6 text-end">
										<span> {{ product.price }} </span>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row p-3">
									<div class="col-6">Sub total : --></div>
									<div class="col-6 text-end">
										<span id="sub-total-{{ product.id }}">
											{{ item.total }}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endwith %} {% endfor %}
			<div class="col-12 text-end">
				<div class="fw-bold">
					<div id="total" class="my-2 me-4 text-primary">
						Total price: &nbsp;&nbsp; £{{ cart.get_total_price }}
					</div>
				</div>
			</div>
			<div class="paypal-buttons">
				<div id="paypal-button-container"></div>
			</div>
		{% else %}
			<div class="container">
				<p class="text-primary">Your shopping cart is empty. Please go to store and add items to your shopping cart.</p>
				<a href="{% url 'store' %}" class="btn btn-primary">Go To Store</a>
				<a href="{% url 'dashboard' %}" class="btn btn-primary">Back To Dashboard</a>
			</div>
		{% endif %}
	</div>
</main>
{% if SANDBOX_CLIENT_ID %}
<script
	src="https://www.paypal.com/sdk/js?client-id={{ SANDBOX_CLIENT_ID }}&currency=USD&intent=capture&enable-funding=venmo"
	data-sdk-integration-source="integrationbuilder"
></script>
{% endif %}
<!-- PayPal JS SDK -->
{% csrf_token %}
<script>
	const totalPrice = '{{cart.get_total_price}}'
	const paypalButtonsComponent = paypal.Buttons({
		style: {
			layout: 'vertical',
			shape: 'pill',
			color: 'blue',
		},

		createOrder: (data, actions) => {
			return actions.order.create({
				purchase_units: [
					{
						amount: {
							value: totalPrice,
							currency_code: 'USD',
						},
					},
				],
			})
		},

		onApprove: function (data, actions) {
			const captureOrderHandler = details => {
				console.log(
					'Transaction completed. Total amount paid $ ' +
						details.purchase_units[0].amount.value
				)
			}
			// This function captures the funds from the transaction.
			return actions.order
				.capture()
				.then(captureOrderHandler)
				.then(window.location.replace("{% url 'payment-success' %}"))
		},

		onError: err => {
			console.error(
				'An error prevented the buyer from checking out with PayPal'
			)
		},
	})

	paypalButtonsComponent.render('#paypal-button-container').catch(err => {
		console.error('PayPal Buttons failed to render')
	})
</script>
{% endblock %}
