{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<main class="form-main py-5 container">
	<section class="form-wrapper container-md w-75 bg-body rounded-2">
		<div class="text-center">
			<h4 class="p-4 text-uppercase text-light">Registration Form</h4>
		</div>
		<form
			method="post"
			id="registration-form"
			class="blueForms px-4"
			autocomplete="off"
			autocapitalize="off"
			novalidate
		>
			{% csrf_token %} 
			{{ form|as_crispy_errors }}
            {{ form.username|as_crispy_field }} 
            {{ form.email|as_crispy_field }} 
            {{ form.password1|as_crispy_field }} 
            {{form.password2|as_crispy_field }}
			<button type="submit" class="btn custom-bg w-100 fs-5 border-0 text-white">
				Create Account
			</button>
			<div class="py-4">
				Already have an account ?&nbsp;<a href="{% url 'user-login' %}"
					class="link-info">Login instead</a
				>
			</div>
		</form>
	</section>
</main>
{% endblock %}
