body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	border-radius: 4px !important;
}

.products__wrapper {
	width: 95%;
	margin: auto;
}

.card-body {
	background-color: #9b6c6c;
	background-color: #D3D3D3;
	background-color: #DBD7D2;
	background-color: #D1CBC1;
}

.col a {
	text-decoration: none;
}

.product__image {
	height: 18rem;
}

.form-main,
.main {
	padding: 2rem 0;
}

.form-wrapper,
.wrapper {
	width: 700px;
	margin: auto;
	padding: 1rem 3rem;
	border-radius: 4px;
	background-color: #d1cbc1;
	background-color: #dcdcdc;
	background-color: #DADADA;
}

.verification {
	height: 100vh;
	padding-top: 2rem;
}

.card-header {
	text-align: center;
}

.custom-card,
.password-reset {
	width: 700px;
	margin: auto;
	background-color: #aca79e;
}
