body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: auto;
}

.dash-board-main {
	overflow-x: hidden;
}

.btn {
	border-radius: 4px !important;
}

/* TODO - color scheme */
/* .card-body {
	background-color: #9b6c6c;
	background-color: #D3D3D3;
	background-color: #DBD7D2;
	background-color: #D1CBC1; 
} */

.col a {
	text-decoration: none;
}

/* .product__image {
	height: 18rem;
} */

.form-wrapper,
.wrapper {
	background-color: #DADADA;
}
.form-wrapper {
	width: 70%;
	margin: auto;
}

.card-header {
	text-align: center;
}

.custom-card,
.password-reset {
	background-color: #aca79e;
}

.paypal-buttons {
	width: 50%;
	margin: auto;
}

.fa-bars {
	color: #aca79e;
}


@media only screen and (min-width: 700px) {
	.form-wrapper {
		width: 42rem;
		margin: auto;
	}
	.custom-card {
		width: 700px;
		margin: auto;
	}
}

@media only screen and (max-width: 700px) {
	.form-wrapper {
		width: 90%;
		margin: auto;
	}
	.custom-card {
		width: 460px;
		margin: auto;
	}
	.buttons-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media only screen and (max-width: 500px) {
	.custom-card {
		width: 90%;
		margin: auto;
	}
	.buttons-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media only screen and (max-width: 692px) {
	.dash-board-main {
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-width: 991px) and (min-width: 693px) {
	.dash-board-main {
		width: 70%;
		margin: auto;
	}
}

@media only screen and (max-width: 767px) {
	.cart-summary-buttons {
		display: flex;
		flex-direction: column-reverse;
		gap: 1rem;
	}
}
