body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	border-radius: 4px !important;
}

.products__wrapper {
	width: 95%;
	margin: auto;
}

.col a {
	text-decoration: none;
}

.product__image {
	height: 18rem;
}

.form-main, .main {
	padding: 2rem 0;
}

.form-wrapper, .wrapper {
	width: 700px;
	margin: auto;
	padding: 1rem 3rem;
	border-radius: 4px;
	background-color:  #D1CBC1;
	background-color:   #ACA79E;
}

.verification {
	height: 100vh;
	padding-top: 2rem;
}

.card-header {
	text-align: center;
}

.custom-card, .password-reset {
	width: 700px;
	margin: auto;
	background-color: #ACA79E;
}

