{% extends "base.html" %} {% block content %}
<main>
	<section class="card custom-card mt-5 border-0">
        <div class="card-header text-light border-0">
            <i class="fa fa-envelope fa-3x"></i>
            <br>
            <h5>Verification Email Sent</h5>
        </div>
		<div class="card-body border-0">
			<h5 class="card-title">Verification Email has been sent to your email address.</h5>
			<p class="card-text">
				Please check your email and click the link we sent you to verify your account.
			</p>
            <p class="card-text">Have already verified your account? Login below</p>
			<a href="{% url 'user-login' %}" class="btn btn-primary border-0">Login</a>
		</div>
	</section>
</main>
{% endblock %}
