{% extends "base.html" %} {% block content %}
<main class="verification">
	<section class="card custom-card">
        <div class="card-header">
            <i class="fa fa-check fa-3x text-success"></i>
            <br>
            <h5><strong>Your account is now verified!</strong></h5>
        </div>
		<div class="card-body">
			<h5 class="card-title">Please proceed to login page clicking the link below.</h5>
			<a href="{% url 'user-login' %}" class="btn btn-primary">Login to your account</a>
		</div>
	</section>
</main>
{% endblock %}