{% extends "base.html" %} {% block content %}
<main class="verification">
	<section class="card email-sent-card">
        <div class="card-header">
            <i class="fa fa-envelope fa-3x"></i>
            <br>
            <h5><strong>Verification Email</strong></h5>
        </div>
		<div class="card-body">
			<h5 class="card-title">Verification Email has been sent to your email address.</h5>
			<p class="card-text">
				Please check your email and verify your account.
			</p>
            <p class="card-text">Have already verified your account? Login below</p>
			<a href="{% url 'user-login' %}" class="btn btn-primary">Login</a>
		</div>
	</section>
</main>
{% endblock %}
