{% extends "base.html" %} {% block content %}

<main class="mt-4">
	<div class="container">
		<h1 class="h5 text-secondary mb-4">Shopping cart</h1>
		{% for item in cart %} 
		{% with product=item.product %}
		<div id="{{product.id}}" class="row mb-4 bg-body-tertiary">
			<div class="col-md-3 col-lg-2 order-md-first p-0">
				<div class="d-flex align-middle bg-secondary-subtle h-100">
					<img
						class="img-fluid d-block"
						alt="{{ product.title }}"
						src="{{ product.image.url}} "
					/>
				</div>
			</div>
			<div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
				<a
					href="{{ product.get_absolute_url}}"
					class="text-info-emphasis text-decoration-none"
				>
					<h1 class="h5 pt-4">{{ product.title }}</h1>
				</a>
				<div class="text-primary">
					<div class="col border-bottom">
						<div class="row p-2">
							<div class="col-6">Unit price : --></div>
							<div class="col-6 text-end">
								<span>{{ product.price }}</span>
							</div>
						</div>
					</div>
					<div class="col border-bottom">
						<div class="row p-2">
							<div class="col-6">Sub total : --></div>
							<div class="col-6 text-end">
								<span id="sub-total-{{ product.id }}">
									{{ item.total }}
								</span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row p-2">
							<div class="col-6 update-cart">
								<label for="select">Quantity: </label>
								&nbsp;
								<select id="select{{ product.id }}" class="border">
									<option selected>{{item.quantity}}</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
								</select>
								<button
								type="button"
								id="update-button"
								class="btn btn-primary btn-sm update-button border-0"
								onClick="updateCart('{{product.id}}')"
								>
									Update Quantity
								</button>
							</div>
							<div class="col-6 text-end">
								<button
									data-index="{{ product.id }}"
									class="btn btn-danger btn-sm delete-button border-0"
									onClick="removeItem('{{product.id}}')"
								>
									Remove From Cart
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endwith %} 
		{% endfor %}
		<div class="col-12 text-end">
			{% if cart.get_total_price > 0 %}
			<div class="pb-5 text-primary">
				<div id="total" class="pb-4">
					<strong>Total price:&nbsp;&nbsp; £{{ cart.get_total_price }}</strong>
				</div>
				<div class="cart-summary-buttons">
					<a href="{% url 'store' %}" class="btn btn-primary border-0">Continue Browsing</a>
					<a type="button" class="btn text-right border-0 custom-bg text-white" href="{% url 'process-payment' %}">Proceed to Checkout &nbsp;
						<i class="fa fa-credit-card-alt" aria-hidden="true"></i
					></a>
				</div>
				</div>
			{% else %}
				<div class="py-5">
					<p>You haven't added anything to your shopping cart yet.</p>
					<a href="{% url 'store' %}" class="btn btn-primary border-0">Explore Our Products</a>
				</div>
			{% endif %}
		</div>
	</div>
</main>

{% endblock %}
