{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<main class="verification">
	<section class="card">
        <div class="card-header">
            <i class="fa fa-envelope fa-3x"></i>
            <br>
            <h5><strong>Password Reset Email</strong></h5>
        </div>
		<div class="card-body">
			<h5 class="card-title">Password Reset Email has been sent to your email address.</h5>
			<p class="card-text">
				Please check your email and follow the instructions to reset your password.
			</p>
            <p class="card-text">Have already reset your password?  <a href="{% url 'user-login' %}" class="text-primary">You may proceed to login</a></p>
			
		</div>
	</section>
</main>
{% endblock %}