{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<main>
	<section class="card custom-card mt-5 border-0">
        <div class="card-header text-light border-0">
            <i class="fa fa-envelope fa-3x"></i>
            <br>
            <h5 class="pt-3">Password Reset Email Sent</h5>
        </div>
		<div class="card-body border-0">
			<h6 class="card-title">Password reset link has been sent to your email address.</h6>
			<p class="card-text">
				Please check your email and follow the instructions to reset your password.
			</p>
            <p class="card-text">Have already reset your password?  <a href="{% url 'user-login' %}" class="text-info">You may proceed to login</a></p>
			
		</div>
	</section>
</main>
{% endblock %}