{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<main class="verification">
	<section class="card custom-card bg-dark-subtle">
        <div class="card-header">
            <i class="fa fa-check fa-3x text-success"></i>
            <br>
            <h5 class="py-2"><strong>Password Reset Complete!</strong></h5>
        </div>
		<div class="card-body">
			<h5 class="card-title">Your new password has been set.</h5>
            <p class="card-text">You may now login following the link below</p>
			<a href="{% url 'user-login' %}" class="btn btn-primary">Login</a>
		</div>
	</section>
</main>
{% endblock %}