{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<main class="pt-5">
	<section class="card custom-card border-0">
        <div class="card-header text-light border-0 bg-success">
            <i class="fa fa-check fa-3x text-light"></i>
            <br>
            <h5 class="py-2">Password Reset Complete!</h5>
        </div>
		<div class="card-body border-0">
			<h5 class="card-title">Your new password has been set.</h5>
            <p class="card-text">You may now login following the link below</p>
			<a href="{% url 'user-login' %}" class="btn btn-primary border-0">Login to your account</a>
		</div>
	</section>
</main>
{% endblock %}