{% extends "base.html" %} {% block content %}
<main class="pb-5 px-0 dash-board-main">
	{% for message in messages %}
	<div id="alert-dismissible" class="alert alert-success alert-dismissible fade show" role="alert">
		<svg
			class="bi flex-shrink-0 me-2"
			width="24"
			height="24"
			role="img"
			aria-label="Success:"
		>
			<use xlink:href="#check-circle-fill" />
		</svg>
		<strong>{{ message }}</strong>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		></button>
	</div>
	{% endfor %}
	<section class="dash-board-wrapper">
		<h3 class="py-4 text-center text-secondary">{{username}}'s Dashbord!</h3>
		<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 justify-content-center gap-5">
			<div class="card px-0 border-0 rounded col bg-light">
				<div class="card-header fs-4 border-0 text-light">
					Cart &nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"> </i>
				</div>
				<div class="card-body text-primary">
					<h5 class="card-title">View and manage your Cart</h5>
					<p class="card-text text-dark-subtle">Managing your orders is easy.</p>
					<div class="text-center">
						<a href="{% url 'registered-user-checkout' %}" class="btn btn-primary my-2 border-0"
							><i class="fa fa-shopping-cart" aria-hidden="true"> </i
							>&nbsp;Registered Members Checkout</a
						>
					</div>
				</div>
			</div>
			<div class="card px-0 border-0 rounded col bg-light">
				<div class="card-header fs-4 border-0 text-light">
					Orders &nbsp;<i class="fa fa-paypal" aria-hidden="true"></i>
				</div>
				<div class="card-body text-primary">
					<h5 class="card-title">View your recent order</h5>
					<p class="card-text text-dark-subtle">Your delivery has been dispatched.</p>
					<div class="text-center">
						<a href="{% url 'track-orders' %}" class="btn btn-primary my-2 border-0"
							><i class="fa fa-paypal" aria-hidden="true"></i>&nbsp;View Your Recent Order</a
						>
					</div>
				</div>
			</div>
			<div class="card px-0 border-0 rounded col bg-light">
				<div class="card-header fs-4 border-0 text-light">
					Your Profile &nbsp;<i
						class="fa fa-address-card"
						aria-hidden="true"
					></i>
				</div>
				<div class="card-body text-primary">
					<h5 class="card-title">Update your profile</h5>
					<p class="card-text text-dark-subtle">Updating your profile is easy.</p>
					<div class="text-center">
						<a href="{% url 'manage-profile' %}" class="btn btn-primary my-2 border-0"
							><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;Manage
							Your Profile</a
						>
					</div>
				</div>
			</div>
			<div class="card  px-0 border-0 rounded col bg-light">
				<div class="card-header fs-4 border-0 text-light">
					Delete Your Account &nbsp;<i
						class="fa fa-trash"
						aria-hidden="true"
					></i>
				</div>
				<div class="card-body text-primary">
					<h5 class="card-title">No longer need an account ?</h5>
					<p class="card-text text-dark-subtle">Deleting your account is irreversible.</p>
					<div class="text-center">
						<a href="{% url 'delete-account' %}" class="btn btn-danger my-2 border-0"
							><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete Your
							Account</a
						>
					</div>
				</div>
			</div>			
		</div>
	</section>
</main>
{% endblock %}
