{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<main class="form-main py-5">
	<section class="form-wrapper p-4 rounded-2 bg-body">
		<h5 class="text-center text-uppercase text-light">Login to your account</h5>
		<form method="POST" autocomplete="off" autocapitalize="off" novalidate class="border-0">
			{% csrf_token %} 
            {{ form|as_crispy_errors }}
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            <!-- {{ form.non_field_errors }} -->
			<button type="submit" class="btn custom-bg w-100 fs-5 border-0 text-white">
				Login&nbsp;&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i>
			</button>
            <div class="py-2">
                Forgotten your password ?
                <a class="link-info" href="{% url 'reset_password' %}">Recover your password</a>
            </div>
            <div>
                Don't have an account ?
                <a class="link-info" href="{% url 'register' %}">Register instead</a>
            </div>
		</form>
	</section>
</main>
{% endblock %}
