{% extends "base.html" %} {% block content %}
<main class="container pt-sm-0 pt-md-3 pt-lg-4 pt-xl-5 pt-xxl-5">
	<div class="row container m-auto p-0 bg-success">
		<div class="col-md-4 col-lg-4 col-xl-4 order-md-first p-0 m-0 align-self-center">
			<img
				class="img-fluid d-block"
				alt="{{ product.title}}"
				src="{{ product.image.url}}"
			/>
		</div>
		<div class="col-md-8 col-lg-8 col-xl-8 p-3 bg-body">
			<div class="border-bottom border-dark-subtle">
				<h4 class="text-success">{{ product.title}}</h4>
				<strong class="">{{ product.brand }}</strong>
			</div>
			<p class="pt-3 text-light">{{ product.description }}</p>
			<div class="border border-dark-subtle px-3 text-light">
				<div class="col border-bottom border-dark-subtle">
					<div class="row py-3">
						<div class="col-6">Price</div>
						<div class="col-6 text-end">
							<span>{{ product.price }}</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row py-3">
						<div class="col-6">
							<label for="select">Quantity: </label>
							&nbsp;
							<select id="select" class="border-0 bg-primary-subtle">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</div>
						<div class="col-6 text-end">
							<button
								class="btn btn-sm custom-bg border-0 p-2 text-white"
								onClick="addToCart('{{ product.id }}')"
							>
								Add to cart
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-end pt-4">
		<a href="{% url 'store' %}" class="btn btn-md btn-primary border-0">Continue Browsing</a>
	</div>
</main>
{% endblock %}
