{% extends "base.html" %} {% block content %}
<div class="container">
	<main class="pt-5">
		<div class="row">
			<div class="col-md-5 col-lg-5 col-xl-5 order-md-first p-0 m-0">
				<div class="bg-light-subtle h-100">
					<img
						class="img-fluid d-block"
						alt="{{ product.title}}"
						src="{{ product.image.url}}"
					/>
				</div>
			</div>
			<div class="col-md-7 col-lg-7 pt-3 bg-secondary-subtle">
				<div class="border-bottom border-dark-subtle">
					<h1 class="h4 text-primary">{{ product.title}}</h1>
					<strong>{{ product.brand }}</strong>
				</div>
				<p class="pt-3 text-black-50">{{ product.description }}</p>
				<div class="border border-light-subtle bg-light-subtle px-3 text-black-50">
					<div class="col border-bottom border-light-subtle">
						<div class="row py-3">
							<div class="col-6">Price</div>
							<div class="col-6 text-end">
								<span>{{ product.price }}</span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row py-3">
							<div class="col-6">
								<label for="select">Quantity: </label>
								&nbsp;
								<select id="select">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
							<div class="col-6 text-end">
								<button
									class="btn btn-sm btn-info border-0 p-2"
									onClick="addToCart('{{ product.id }}')"
								>
									Add to cart
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col text-end pt-4">
					<a href="{% url 'store' %}" class="btn btn-md btn-primary border-0">Continue Browsing</a>
				</div>
			</div>
		</div>
	</main>
	<br />
</div>
{% endblock %}
