{% extends "base.html" %} 
{% block content %} 
<main class="container">
	{% for message in messages %}
		<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
				<svg
				class="bi flex-shrink-0 me-2"
				width="24"
				height="24"
				role="img"
				aria-label="Danger:"
			>
				<use xlink:href="#exclamation-triangle-fill" />
			</svg>
			<div>{{ message }}</div>
		</div>
	{% endfor %}
	<section class="pt-3 text-center">
		<div class="row">
			<div class="mx-auto">
				<h4 class="text-primary custom-font fs-3">Sustainability at it's finest!</h4>
				<p class="text-secondary">Browse our extensive collection of Sustainable Products.</p>
				{% if not request.user.is_authenticated %}
				<a href="{% url 'register' %}" class="btn btn-primary my-2">
					<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Create an
					account
				</a>
				{% endif %}
			</div>
		</div>
	</section>
	<section>
		<h4 class="text-primary">All Products</h4>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
			{% for product in products %}
			<div class="col pb-4">
				<a href="{{ product.get_absolute_url }}">
					<div class="card h-100 border-0">
						<img
							src="{{product.image.url}}"
							class="card-img-top product__image"
							alt="{{product.title}}"
							/>
						<div class="card-body bg-body-tertiary text-black">
							<h6 class="card-title text-info-emphasis">{{product.title}}</h6>
							<p class="card-text">{{product.description|truncatewords:8}}</p>
						</div>
						<div class="card-footer border-0">
      						<small class="text-info-emphasis badge bg-light rounded-pill">Price: {{product.price}}</small>
    					</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>
</main>
{% endblock %}
